/* GLOBAL STYLES */

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: var(--second-color);
  text-align: center;
}

/* VARIABLE DECLARATIONS */

:root {
  --header-font: "Courgette", cursive;
  --copy-font: "Noto Sans", sans-serif;
  --main-color: #c3e578;
  --second-color: #0e2756;
  --bg-light: #fbf7f8;
  --bg-medium: #ffeef5;
}

/* TYPOGRAPHY */

body {
  font-family: var(--copy-font);
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: #33cc33;
}

a:visited {
  color: #990a45;
}

.title {
  font-family: var(--header-font);
  font-size: 3.438rem;
  position: relative;
  text-decoration: underline;
  text-decoration-color: var(--main-color);
  /* text-decoration-thickness: .15em; */
}

/* HEADER / NAV STYLES */

header {
  background-color: var(--bg-light);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.logo,
.menu {
  margin: 1em 0;
}

.logo {
  display: inline-block;
  margin-left: 1em;
  width: 30%;
  max-width: 150px;
}

.menu {
  width: 2em;
  cursor: pointer;
  margin-right: 1em;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fc9cc4;
  height: 100%;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: none;
  z-index: 100;
}

.nav__list {
  margin: 5em 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  list-style-type: none;
  height: 100%;
}

.open-nav {
  display: flex;
  position: fixed;
}

.nav__list li {
  display: inline-block;
  margin: 2em;
}

.nav__list li a {
  font-size: 1.875rem;
  color: black;
  font-weight: bold;
}

.nav__list li a:hover {
  color: yellow;
  width: 100%;
}

.exit svg {
  width: 1.5em;
  position: absolute;
  top: 1em;
  right: 2em;
  cursor: pointer;
}

/* CONTAINER STYLES */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2em;
}

/* SECTION STYLES */

section {
  width: 100vw;
}

.about-me,
.my-work {
  background-color: var(--bg-medium);
}

/* ICONS */

.avatar {
  max-width: 50%;
  border: 1px solid white;
  border-radius: 50%;
  margin: 1em 0;
}

.tech-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-icons img {
  width: 20%;
  max-width: 96px;
  margin-bottom: 1em;
}

.tech-icons img:nth-child(3) {
  margin-bottom: 2em;
}

.tech-used img {
  width: 15%;
}

/* SECTION SPECIFICS */

.headline {
  margin: 0 1.5em;
}

.btn {
  display: inline-block;
  background-color: var(--main-color);
  padding: 1em 2em;
  border-radius: 30px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.5s;
}

.btn:hover {
  background-color: #9ec353;
  color: white;
}

.btn > a:hover {
  color: black;
}

.btn > a:visited {
  color: black;
}

.about-text {
  margin: 0 1em;
}

.about-text p:nth-child(3) {
  margin-bottom: 2em;
}

/* PROJECT CONTAINER */

.project-container {
  width: 275px;
  height: 600px;
  border: 1px solid grey;
  border-radius: 10px;
  text-align: left;
  background-color: white;
  margin: 0 auto 2em;
}

.project-image {
  background: grey;
  background-size: cover;
  height: 283px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-title {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.project-details {
  line-height: 1.5em;
  margin-left: 1em;
}

.demo-link,
.repo-link {
  text-align: right;
  margin-right: 0.5em;
  font-size: 1.1rem;
  text-transform: uppercase;
}

/* FOOTER STYLES */

footer {
  display: grid;
  place-content: center;
}

footer .contacts {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contacts li {
  margin: 1.2em 0;
  text-align: center;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
  /* MENU */
  .menu,
  .exit svg {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: flex-end;
    height: auto;
    margin-right: 1em;
    background-color: unset;
    position: unset;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin: 0;
  }

  .nav__list li {
    display: inline-block;
    margin: 1em;
  }

  .nav__list li a {
    font-size: 1.1rem;
  }

  .nav__list li a:hover {
    color: #d60e61;
  }

  /* TYPOGRAPHY */
  .title {
    display: inline-block;
    text-align: left;
    max-width: 500px;
    font-size: 3rem;
  }

  /* INTRO */
  .intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .intro-text {
    text-align: left;
    padding-left: 1.5em;
  }

  .headline {
    margin: unset;
  }

  .avatar {
    max-width: 60%;
    align-self: center;
    justify-self: center;
  }

  .btn {
    margin: 2em 0;
  }

  /* ABOUT */

  .about-text p {
    text-align: left;
    max-width: 80%;
  }

  /* TECH ICONS */

  .tech-icons {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  /* WORK */
  .projects {
    display: flex;
  }

  /* FOOTER */
  footer {
    place-content: unset;
    grid-template-columns: 1fr 1fr;
    padding: 0 1em;
    text-align: left;
  }

  .contacts {
    display: flex;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1000px) {
  html,
  body {
    overflow-x: hidden;
  }

  header {
    width: 100%;
  }

  .logo {
    margin-left: 1em;
  }

  .nav__list li a {
    font-size: 1.3rem;
  }

  section {
    max-width: 1160px;
  }

  .title {
    display: inline-block;
    text-align: left;
  }

  .about-me,
  .my-work {
    margin: 0 -9999rem;
    padding: 0 9999rem;
  }
}
